body{
    color:white;
    font-weight: 40;
    font-size: 12px; 
    font-weight: 400;
}
li a:hover, .portfolio_wrapper_heading li:hover {
    border:1px solid cyan;
    color:cyan;
}
.hero_slider{
    background-image:url('../images/hero_slider.png');
    height:500px
}
.hero_slider .navbar-nav{

    padding-left:30%;
    color:white;
}
.hero_slider .navbar{
    background:rgba(0,0,0,0.6);
    padding-top:2%;
    padding-bottom:2%;
    
   
}
 .hero_slider_info_first{
    text-align: center;
    margin-top:150px;
    background-color: gray;    /* padding-bottom:150px; */
    /* color:black; */
    font-size:x-large;
    
}
.hero_slider_info_sec{
    text-align: center;
    /* margin-top:150px; */
    background-color: gray;    /* padding-bottom:150px; */
    /* color:black; */
    font-size:x-large;
    
}
.hero_slider .hero_slider_info_sec{
    text-align: center;
    /* margin-top:150px; */
    background-color: gray;    /* padding-bottom:150px; */
    /* color:black; */
    
}
.hero_slider_info_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.hero_slider_info_wrapper p{
    padding: 0px 10px;
}

.services_wrapper_title h3{
    padding-top:7%;
}
.nav-link{
    color:white;
}
.navbar_span{
    color:aqua;
}
.navbar-brand{
    padding-left:10%;
    color:white;
    
}
.hero_slider_info >p{
    font-size: 30px;
    
} 

/* .grid-container{
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-row-gap:40px
}  */
.services_wrapper_contents{
    /* padding-left: 30px;
    padding-right: 30px; */
    padding-top:20px;
    padding-bottom:30px
}
.portfolio_wrapper{
    padding:30px
}
.portfolio_wrapper .grid-container{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap:10px;
    grid-row-gap:40px;
    
}
.portfolio_wrapper_heading{
    color:black;
    padding-top:30px;
    padding-bottom:30px
}
.item1 {
    grid-column: 1 / 3;
  }
  .item2{
      padding-top:30px;
      grid-column: 3 /5;
      color:black;

  }
  .item2 li{
      display: inline;
      font-size: 14px;
  }
.services{
    background-color:rgb(107, 213, 245)
}
/* .just_default_section{
    background-color: rgba(128, 128, 128, 0.26);
} */
.twitter_section{
    background-color: rgb(0, 247, 255);

}
.twitter_title > p{
    font-size: 20px;
    color:white;
   
}
.twitter_wrapper{
    padding-top:3%;
    padding-bottom:3%;
}
.who_is_john_doe{
    background-image: url('../images/holder.png');
    background-size:cover;

}
.who_is_john_doe_wrapper .grid-container{
    display:grid;
    grid-template-columns: auto auto;
    grid-row-gap:20%;
    grid-column-gap:10%;

}
.who_is_john_doe .fab{
    border:1px solid white;
    padding:2%;
}
.testimonials_wrapper{
    padding-top:10%;
    padding-bottom:5%;
    color:black;
    font-size: 18px;
}
.contact{
    background-image: url('../images/bg-holder.png');
}
.contact_wrapper{
    padding-top: 90px;
}

/* used one for portfolio styling............start */
.portfolio_wrapper .flex-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio_wrapper img{
    width:242px;
    margin:10px;
}
.portfolio_wrapper img:hover{
    opacity:0.6;
} 

/* end */
.portfolio_wrapper_heading .flex-container{
    display: flex;
    justify-content: flex-start;
}
.portfolio_wrapper_heading ul{
    list-style-type:none; 
    display: inline-flex;
    padding-left: 350px;
    
}
.portfolio_wrapper_heading li{
    padding:10px;
}

.overlay{
    opacity: 0;
  transition: .3s ease;
  background-color: black
}
.just_default_section_wrapper{
    color:black;
}
.just_default_section{
    background-color:gray;
    padding:5% 0;
}
.just_default_section_wrapper button{
    padding:1% 4%;
    border:1px solid black;
     background-color:gray
}

.who_is_john_doe .container{
    padding-top:6%;
    padding-bottom:6%;
}
address{
color:cyan;
}
.contact_wrapper{
    padding-bottom:50px
}
.contact_wrapper input{
    width:290px;;
    height: 40px
}
.contact_wrapper button{
    background-color: cyan;
    padding-left:5%;
    padding-right:5%;
    height:40px;
    width:290px;
    border:0;
    color:white;
}
.footer{
    background-color: rgba(17, 12, 12, 0.788);
    padding-top:3%;
    padding-bottom:3%
}